@keyframes gradientAnimation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .animated-gradient-text {
    background: linear-gradient(45deg, #0a6ed1, #36a9e1, #f0ab00, #0a6ed1);
    background-size: 400% 400%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradientAnimation 8s ease infinite;
  }